<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zust.se.dao.BedDao">
    <update id="updateUandE">
        update bed set empty='Y', uid=NULL where buildingid=#{buildingid} and dormitory=#{dormitory} and bednum=#{bednum}
    </update>
</mapper>