<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zust.se.dao.HygieneDao">
    <insert id="insertHyByExcel" parameterType="java.util.List">
        insert into hygiene(times,buildingid,dormitory,result) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.times},
            #{item.buildingid},
            #{item.dormitory},
            #{item.result}
            )
        </foreach>
    </insert>

<!--    <insert id="insertLack" parameterType="Lack" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into lack(uid,time,buildingid,dormitory) values(#{uid},#{time},#{buildingid},#{dormitory});-->
<!--    </insert>-->

</mapper>